.navbar {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    padding: .5em;
}

.container {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #FFBB33;
    
}